<h1>Contact Page</h1>
<div class="form-horizontal form-group form-group-lg row">
  <div class="col-xs-10">
    {{input type="email" value=emailAddress class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"}}

    {{textarea class="form-control" placeholder="Your message. (At least 5 characters.)" rows="7" value=message}}
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
      <button class="btn btn-primary btn-lg btn-block" disabled={{contactFormDisabled}} {{action 'sendMessage'}}>Send Message</button>
  </div>

</div>

{{#if responseMessage}}
  <div class="alert alert-success">{{responseMessage}}</div>
{{/if}}